:root {
--basic-red: #EE3643;
--basic-light-gray: #888888;
--basic-extra-dark: #32425C;
--basic-dark: #293449;
--basic-white: #FFFFFF;
--basic-grey: #F1F5F7;
--basic-black: #000000;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-click-text: rgba(255, 255, 255, 0.5);
--basic-click: #161D29;
--basic-background: rgba(0, 0, 0, 0.0001);
--basic-light: #F3F7F9;
--basic-click-fon: #1D2739;
--basic-link: #FFD180;
--basic-linear-gradient: linear-gradient(0deg, #212A3A, #212A3A);
--basic-old-price: #A9A9A9;
}
/* общее */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-logo {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 107px;
  height: 17px;
  left: 1px;
  top: 1px;
}

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  display:flex;
}

.user-info {
  list-style: none;
}

.checkout {
  background: var(--basic-green);
}

.user-info a:not([href]) {
  background-color: var(--basic-extra-dark)
}

.user-info a:hover,
.user-info a:focus, {
  background-color: var(--basic-click);
  color: var(--basic-click-text);
}

.checkout:hover,
.checkout:focus {
  color: var(--basic-click-text);
  background-color: var(--basic-green);
}

.main-navigation-wrapper {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
}

.site-navigation {
  background-color: var(--basic-background);
}

.list-navigation {
  list-style: none;
  padding: 0;
}

.site-navigation h2 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.site-navigation p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  color: var(--basic-extra-dark);
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  color: var(--basic-red);
  background-color: var(--basic-light);
}

.login-link:hover,
.login-link:focus
.registration:hover,
.registration:focus {
  color: var(--basic-red);
}

.site-navigation a:not([href]) {
  background-color: var(--basic-extra-dark)
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-click-fon);
}

.text {
  font-style: normal;
  font-weight: normal;
}

.text h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.text p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.text li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.text button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid transparent;
}

.main-menu h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.main-menu button {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.new {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  transform: rotate(45deg);
}

.main-photo {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  color: var(--basic-white);
}

.main-photo h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.main-photo p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.main-photo button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  list-style: none;
}

.catalog h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-old-price);
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.manufacturers {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}
.manufacturers button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.service h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.service button {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: var(--basic-white);
  background: var(--basic-extra-dark);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.service button:hover {
  color: var(--basic-white);
  background: var(--basic-dark);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
}

.delivery h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.delivery p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: var(--basic-extra-dark);
}

.main-footer ul {
    list-style: none;
}

.footer-link {
  color: var(--basic-link);
}

.footer-social {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white:);
  background-color: var(--basic-dark);
}

.social-button {
  background-color: var(--basic-linear-gradient);
  bottom: 0%;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.title h2 {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 30px;
}

.filter li {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--basic-black);
}

.filter-price {
  color: var(--basic-red);
}

.filter-type {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-manufacturers {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  color: var(--basic-black);
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.filter-manufacturers legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-manufacturers label {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

.filter-manufacturers button {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.text-hammer-drill {
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.text-hammer-drill h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-hammer-drill p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
