:root {
--basic-red: #EE3643;
--basic-dark-red: #BA2732;
--basic-purple: #CA2C37;
--basic-light-gray: #888888;
--basic-dark-gray: #C5C5C5;
--basic-grey: #F1F5F7;
--basic-extra-dark: #32425C;
--basic-dark: #293449;
--basic-active: #161D29;
--basic-black: #000000;
--basic-click: #161D29;
--basic-background: rgba(0, 0, 0, 0.0001);
--basic-white: #FFFFFF;
--basic-light: #F3F7F9;
--basic-green: #63A63E;
--basic-light-green: #5FBB2D;
--basic-click-text: rgba(255, 255, 255, 0.5);
--basic-click-fon: #1D2739;
--basic-link: #FFD180;
--basic-linear-gradient: linear-gradient(0deg, #212A3A, #212A3A);
--basic-old-price: #A9A9A9;
--basic-orange:  #FFC047;
--basic-blue: #3BBCE3;
--basic-lilac: #DC91D8;
--basic-greeny: #8ED78F;
--basic-fon-photo: rgba(0, 0, 0, 0.25);
--basic-beige: #F9F5F0;
--basic-border: #EAEAEA;
--basic-transparent: rgba(0,0,0,0.1);
--basic-rgba: rgba(255,245,215,.5);

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*header*/
.main-header {
  background-color: var(--basic-grey);
}

.wrapper {
  background-color: var(--basic-dark);
  margin-bottom: 46px;
  }

.header-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 107px;
  height: 17px;
  top: 0;
  padding: 13px 57px 17px 55px;
  position: absolute;
}

.header-logo-link:active {
  background-color: var(--basic-dark-red);
}

.header-nav {
  width: 740px;
  display: flex;
  justify-content: space-between;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  align-content: space-between;
  height: 42px;
}

.container,
.container-search {
  display: flex;
  justify-content: space-between;
}

.container .header-link,
.container .checkout-header-item {
  display: inline-block;
  padding: 9px 16px 9px 18px;
}

.header-link,
.checkout-header-item
.search-form {
  color: var(--basic-white);
  display: block;
}

.search-form {
  padding-left: 7px;
  width: 271px;
  box-sizing: border-box;
  position: relative;
}

.search {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  border: 0;
  padding-left: 30px;
  padding: 11px 20px 11px 44px;
  margin-left: -10px;
}

.search-label {
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 1px 1px;
  position: absolute;
  opacity: 0.3;
  z-index: 20;
  cursor: pointer;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
}

.search::placeholder {
  color: var(--basic-white);
}

.search-label:hover {
  opacity: 1;
}

.search:active {
  color: var(--basic-click-text);
}

.search:focus {
  background-color: var(--basic-white);
  background-image: url(../img/shape-red.svg);
  background-repeat: no-repeat;
  background-position: 20px 14px;
}

.header-link:active {
  color: var(--basic-click-text);
  background-color: var(--basic-active);
}

.favorite {
  opacity: 0.3;
}

.favorite:hover {
opacity: 1;
}

.checkout-header-item {
  color: var(--basic-white);
  background-color: var(--basic-green);
  text-align: center;
  margin-right: 0;
}

.checkout-header-item:hover {
  background-color: var(--basic-light-green);
}

.checkout-header-item:active {
color: var(--basic-click-text);
}

.site-nav-conteiner {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-background);
  margin-top: 0;
}

.site-nav {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 0 30px;
  align-items: start;
}

.nav-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-dark-red);
  margin-top: 0;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-dark-red);
  background: var(--basic-light);
  border: 3px solid var(--basic-white);
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  padding: 7px 5px 8px 16px;
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  box-sizing: border-box;
  width: 320px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-extra-dark);
  margin-top: 0;
  margin-bottom: 40px;
  box-sizing: border-box;
    width: 320px;
  }

.header-contacts,
.personal-area {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.site-button {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.login-button,
.registration {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background: var(--basic-white);
  border: none;
}

.login-button:hover,
.registration:hover {
  color: var(--basic-red);
}

.login-button:active,
.registration:active {
  color: var(--basic-dark-gray);
}

.login-button {
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
  position: relative;
}

.login-icon {
 position: absolute;
 left: 19px;
 top: 14px;
 opacity: 0.3;
}

.login-icon:hover {
  opacity: 1;  
}

.registration {
  padding: 12px 24px;
  margin-right: 0;
  text-align: center;
  margin-left: 0;
  box-sizing: border-box;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  width: 299px;
  height: 45px;
}

.user-link {
  color: var(--basic-extra-dark);
}

.user-link:hover {
  color: var(--basic-red);
}

.user-link:active {
  color: var(--basic-dark-gray);
}

.header-nav-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-extra-dark);
  margin-bottom: 60px;
  height: 60px;
  box-shadow: inset 0px -5px 0px #293449;
}

.list-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 960px; 
  margin: 0;
  padding: 0;
  min-height: 60px;
  flex-wrap: wrap;  
}

.list-nav-link:hover {
  background-color: var(--basic-dark);
}

.list-nav-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: block;
    padding: 16px 25px;
    margin-right: 0;
}

/*main*/

.main {
  background-color: var(--basic-background);
  margin-top: 59px;
}

.main-menu {
  margin-bottom: 59px;
}

.main-wrapper {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;    
}

.offers-wrapper-start {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  margin-bottom: 20px;
  box-sizing: border-box;
  min-width: 960px;
  height: 123px;
}

.offers-wrapper-end {
  display: grid;
  grid-template-columns: 620px 1fr;
  column-gap: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
}

.offers-end {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.new {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color:var(--basic-white);
  position: relative;
  margin-right: 0;
  width: 67px;
  height: 18px;
  margin-left: 235px;
  margin-right: 0;
  margin-top: 0;  
}

.new-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  position: relative;
  margin-right: 0;
  width: 67px;
  height: 18px;
  margin-left: 152px;
  margin-top: 0;
}

.new::after,
.new-label::after  {
content: '';
position: absolute;
top: 0;
right: 1px;
z-index: 10;
width: 70px;
height: 70px;
background: url(../img/new.png) no-repeat 0 0;
}

.material {
  padding-top: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-left: 23px;
  margin-top: 0;
  padding-bottom: 20px;
}

.main-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--basic-rgba);
  padding: 10px 24px; 
  position: relative;
  bottom: 31px;
  left: 25px;
}

.main-link:hover {
  background: var(--basic-transparent);
}

.main-link:active {
  background: var(--basic-fon-photo);
}

.main-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-top: 20px;
  padding-left: 23px;
  margin-top: 0;
}

.materials {
  width: 300px;
  height: 123px;
  background-color: var(--basic-orange);
  box-sizing: border-box;
}

.materials-new {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
    width: 300px;
}

.icon-materials {
  margin-right: 45px;
}

.tool {
  width: 300px;
  height: 123px;
  background-color: var(--basic-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.icon-tool {
  margin-top: 34px;
  margin-right: 31px;
}

.technics {
  width: 300px;
  height: 123px;
  background-color: var(--basic-lilac);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.icon-technics {
  padding-top: 31px;
  padding-right: 31px;
}

.sale {
  width: 300px;
  height: 123px;
  background-color: var(--basic-greeny);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon-sale {
  padding-top: 26px;
  padding-right: 45px;
}

.free-shipping {
  width: 300px;
  height: 123px;
  background-color: var(--basic-orange);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.icon-free-shiping {
  padding-top: 32px;
  padding-right: 31px;
}

.offers-slider {
  min-width: 620px;
  background-repeat: no-repeat;
  background-image: url(../img/layer99.jpg);
  height: 266px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  color: var(--basic-white);
}

.offers-slider-1 {
  background-image: url(../img/layer99.jpg);
}

.offers-slider-1 {
  background-image: url(../img/drill.jpg);
}

.container-slider {
  position: relative;
  padding-top: 59px;
  text-align: center;
}

.slider-item {
  position: absolute;
  top: 0;
  min-width: 240px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-left: 24px;
}

.slider-subtitle {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin-top: 8px;
  margin-left: -15px;
}

.slider-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  background: var(--basic-red);
  padding: 11px 46px 9px 46px;
  margin-top: 85px;
  margin-bottom: 27px;
  margin-left: -15px;
}

.slider-link:hover {
  background: var(--basic-purple);
}

.slider-link:active {
  background: var(--basic-dark-red);
}

.slider-controls {
  position: absolute;
  bottom: 113px;
  z-index: 20;
  left: 25px;
  right: 21px;
  display: flex;
  width: 572px;
  justify-content: space-between;
}

.slider-button {
  position: absolute;
  bottom: 36px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  left: 297px;
}

.slider-left {
  padding: 0;
  cursor: pointer;
  background-image: url(../img/icon-left.svg);
  width: 21px;
  height: 39px;
  border: none;
  background-color: transparent;
}

.slider-right {
  padding: 0;
  cursor: pointer;
  background-image: url(../img/icon-left.svg);
  width: 21px;
  height: 39px;
  border: none;
  transform: scale(-1, 1);
  background-color: transparent;
}

.dot-left,
.dot-right {
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background-color: var(--basic-white);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-button .current {
  background-color: var(--basic-red);
}

.products,
.main-manufacturers-partners {
  background-color: var(--basic-beige);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 960px;
  margin: 0 auto 20px;
  height: 89px;
  align-items: center;
}

.main-manufacturers {
  margin-bottom: 70px;
}

.products-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 28px;
}

.products-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);
  padding: 11px 24px 9px 24px;
  border: none;
  margin-right: 14px;
}

.products-button:hover,
.partners-button:hover,
.text-button:hover {
  background: var(--basic-purple);
}

.products-button:active,
.partners-button:active,
.text-button:active {
  background: var(--basic-dark-red);
}

.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.products-puncher {
  width: 220px;
  height: 318px;
  border: 1px solid var(--basic-border);
  box-sizing: border-box;
}

.catalog-products {
  display: flex;
  flex-direction: column; 
}

.product-bosch-9000 {
  padding-bottom: 15px;
}

.product-bosch-3000 {
  padding: 10px 53px 38px 24px;
  margin: 0;
}

.product-bosch-6000 {
  padding: 22px 43px 28px 33px;
  margin: 0;
}

.product-bosch-2000 {
  padding: 14px 53px 38px 40px;
  margin: 0;
}


.price {
  margin: 24px 34px 21px 45px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  position: relative;
  padding: 10px 24px 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  outline: none;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
}

.products-link {
  margin: 0;
}

.products-list-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
    padding-bottom: 7px;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-old-price);
  padding-bottom: 13px;
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  position: relative;
  padding: 10px 24px 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  margin: 0 30px 21px 25px;
  outline: none;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
}

.new-price::after,
.price::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -13px;
  border: 13px solid var(--basic-red);
  transform: rotate(45deg);
}
 
.partners-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  margin: 0;
  padding: 28px;
  }

.partners-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 11px 38px 9px 39px;
  text-transform: uppercase;
  border: none;
  padding: 11px 38px 9px 39px;
  margin-top: 25px;
  margin-right: 19px;
  margin-bottom: 26px;
}

.main-manufacturers-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  width: 960px;
  margin: 0 auto;
}

.manufacturers-logo {
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
}

.manufacturers-logo:hover {
  box-shadow: 0px 0px 5px 5px var(--basic-light);
}

.manufacturers-logo:active {
  box-shadow: 0px 0px 5px 5px var(--basic-light);
  opacity: 0.3;
}

.bosch,
.makita {
  padding: 50px 49px 55px 48px;
}

.dewalt {
  padding: 48px 37px 53px 37px;
}

.intarskol {
  padding: 34px 11px 36px 9px;
}

.hitachi {
  padding: 58px 23px 56px 28px;
}

.lg {
  padding: 36px 49px 36px 50px;
}

.aeg {
  padding: 24px 34px 25px 35px;
}

.matabo {
padding: 34px 8px 42px 8px;
}

.main-about-us {   
  margin-bottom: 70px;
  width: 1200px;
  height: 522px;
  background-color: var(--basic-grey);
}

.main-about-conteiner {
  display: flex;
  justify-content: space-between; 
  width: 960px;
  margin: 0 auto;
}

.servise-title,
.delivery-title {  
  color: var(--basic-black);
  font-weight: normal;  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.servise-title {
  padding-top: 64px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.servise-subtitle {
  padding-bottom: 70px;
}

.delivery {
  background-image: url(../img/Layer131_1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.delivery-title {
  padding-top: 235px;
  padding-right: 445px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.delivery-subtitle {
  padding-bottom: 128px;  
}

.servise-subtitle,
.delivery-subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.tabs { 
  width: 240px;
  height: 61px; 
  padding: 0px; 
  margin: 0 auto; 
  position: absolute; 
  box-shadow: 0px 1px 0px var(--basic-white);
  border: 1px solid var(--basic-white);
  box-sizing: border-box;
  margin-bottom: 99px;
  
}

.tabs::before {
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 10px 279px;
  transform: rotate(180deg);
}

.advantages {
  display: none;
}

.advantages-tabs:hover {
  background-color: var(--basic-white);
  color: var(--basic-extra-dark);
}

.advantages-tabs:active {
  background-color: var(--basic-dark);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.advantages-tabs,
.advantages-tabs-one { 
  display: block; 
  width: 240px; 
  padding: 15px; 
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white); 
  background-color: var(--basic-dark); 
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  cursor: pointer; 
}

.advantages-tabs-one {
  background-color: var(--basic-white);
  color: var(--basic-extra-dark);
  border: none;
}

.main-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
  width: 960px;
  margin: 0 auto;
}

.main-text-info,
.main-text-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 162px;
}

.text-title,
.contacts {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
  }

.text-subtitle {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }

.main-text-contacts .text-subtitle {
  margin-bottom: 0;
}

.conteiner-subtitle {
  box-sizing: border-box;
  width: 478px;
  height: 147px;
}

.text-list {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.text-list-dash {
  position: relative;
    padding-bottom: 12px;
}

.text-list-dash::before {
  content:  "—";
  position: relative;
  left: -22px;
  color: var(--basic-red);
  font-weight: bold;
}

.text-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    margin-top: 8px;
}

.button-map {
  box-sizing: border-box;
  width: 300px;
  height: 38px;
  margin-top: 0;
  font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 1px solid transparent;
}

.map {
  margin-bottom: 20px;
}

.letter-form {
  visibility: hidden;
}

/*footer*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey);
  max-width: 1200px;
  background-color: var(--basic-extra-dark);
}

.main-footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.footer-logo-link {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 137px;
  height: 22px;
  padding: 21px;
  position: absolute;
}

.foter-link-start,
.footer-link-end {
  box-sizing: border-box;
  width: 567px;
}

.footer-conteiner-info {
  margin-top: 22px;
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.footer-adress {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-white);
  margin-right: 53px;
  box-sizing: border-box;
    width: 341px;
    height: 29px;
    margin-top: 0;
}

.footer-link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;   
}

.link-white {
  color: var(--basic-white);
  margin-right: 0;
  margin-top: 38px;
}

.link-yellow {
  color: var(--basic-link);
  margin-right: 0;
  margin-top: 34px;
}

.yellow {
  box-sizing: border-box;
    width: 527px;
     margin: 0;
    margin-left: 40px;
}

.link-white:hover,
.link-yellow:hover {
  text-decoration: underline;
}

.link-white:active,
.link-yellow:active {
  opacity: 0.5;
}

.main-footer-social {
  max-width: 1200px;
  background-color: var(--basic-dark);
}

.footer-feedback {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.copyright,
.feedback {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark);  
  margin-top: 36px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 2px;
}

.social-button {
  background: var(--basic-linear-gradient);
  width: 44px;
  height: 44px;
  bottom: 0%;
  color: var(--basic-white);
  list-style: none;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:active {
  background: var(--basic-red);
}


.feedback-link-yellow {
  color: var(--basic-link);
}

.feedback-link-yellow:hover {
  text-decoration: underline;
}

.feedback-link-yellow:active {
  color: var(--basic-red);
}


